*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

.a965_gallery_top{
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    img{
        width: 20vw;
        padding: 2vw;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        padding-top: 10vh;
        width: 100%;
        flex-wrap: wrap;
        img{
            width: 10rem;
        }
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    } 
}

.a965_gallery_bottom{
    display: flex;
    justify-content: center;
    padding-bottom: 20vh;
    img{
        width: 20vw;
        padding: 2vw;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        padding-bottom: 5vh;
        width: 100%;
        flex-wrap: wrap;
        img{
            width: 10rem;
        }
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    } 
}
.a965_2img{
    h2{
        font-size: 2.6rem;
        padding-bottom: 2vh;
    }
}

.a965_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 0;
    a{
        font-size: 1.5rem;
        font-weight: 200;
        text-decoration: underline;
    }
    div{
        width: 2rem;
        height: 2px;
        background-color: #000;
    }
}