*, *::before, *::after {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

.a965_header{
    background-color: #F8F2EB;
    width: 100%;
    nav{
      align-items: center;
      img{
        margin-left: 2.5rem;
      }
    }
}
.a965_single_hero{
  width: 100%;
  padding: 6rem 5rem 5rem 5rem;
    @media (min-width: 20rem) and (max-width: 40rem){
      padding: 6rem 5rem 3rem 3rem;
    }
    /*tablet*/
    @media (min-width: 40.1rem) and (max-width: 60rem){
    }
}

h1{
  font-weight: 400;
}

.a965_festivals_img{
    width: 100%;
    height: 45rem;
    background-image: url('../images/festivals/Festivals\ Hero\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width: 20rem) and (max-width: 40rem){
      background-image: url('../images/festivals/Festivals\ Hero\ Image\ Mobile.png');
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    }
}

.a965_word{
  width: 100%;
  background-color: #F8F2EB;
  padding: 12rem 5rem 12rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    h4{
      font-size: 1.8rem;
    }
    p{
      width: 48rem;
      font-size: 2.4rem;
      line-height: 3.6rem;
      font-weight: 400;
    }
  }
  @media (min-width: 20rem) and (max-width: 40rem){
    display: flex;
    justify-content: flex-start;
    padding: 6rem 2rem 6rem 2rem;
    flex-direction: column;
    h4{
      padding-bottom: 1.2rem;
    }
    p{
      font-size: 1.5rem;
      line-height: 2rem;
      width: 100%;
    }
    &_content{
      flex-direction: column;
      gap: 5rem;
      p{
        width: 100%;
        font-size: 1.5rem;
        line-height: 2.3rem;
        font-weight: 300;
      }
    }
  }
  @media (min-width: 41rem) and (max-width: 60rem){
    
    display: flex;
    justify-content: flex-start;
    padding: 4rem;
    flex-direction: column;
    &_content{
      flex-direction: column;
      gap: 4rem;
    }
  }
}

/*Festival List Style - Blue*/
.a965_list{
  width: 100%;
  height: 100%;
  background-color: #305966;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 6rem;
  padding-bottom: 12rem;
  @media (min-width: 20rem) and (max-width: 40rem){
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media (min-width: 41rem) and (max-width: 60rem){

  }
}

/*styling for white list*/
.a965_row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border-bottom: 0.2rem solid #fff;
  opacity: 0.3;
  a{
    color: #fff;
    font-size: 2.6rem;
    line-height: 3.6rem;
    font-weight: 400;
  }
  .popupimg{
    position: absolute;
    display: flex;
    width: 20rem;
    z-index: 2;
    pointer-events: none;
    right: 24rem;
    opacity: 0;
  }
  &.hover{
    opacity: 1;
    transition: 0.5s ease;
    .popupimg{
      opacity: 1;
      transition: ease;
    }
  }
  @media (min-width: 20rem) and (max-width: 40rem){
    padding: 0.8rem;
    opacity: 1;
    a{
      font-size: 1.5rem;
    }
    .popupimg{
      opacity: 1;
      width: 6rem;
      right: 8rem;
      opacity: 0;
    }
  }
  @media (min-width: 41rem) and (max-width: 60rem){
    .popupimg{
      opacity: 1;
      width: 12rem;
      right: 10rem;
      opacity: 0;
    }
  }
}

/*styling for black list*/
.a965_rowb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border-bottom: 0.2rem solid #000;
  opacity: 0.3;
  a{
    color: #000;
    font-size: 2.6rem;
    line-height: 3.6rem;
    font-weight: 400;
  }
  .popupimg_b{
    position: absolute;
    display: flex;
    width: 25rem;
    z-index: 2;
    pointer-events: none;
    right: 8rem;
    opacity: 0;
  }
  &.hover{
    opacity: 1;
    transition: 0.5s ease;
    .popupimg_b{
      opacity: 1;
      transition: ease;
    }
  }
  @media (min-width: 20rem) and (max-width: 40rem){
    padding: 0.8rem;
    opacity: 1;
    a{
      font-size: 1.5rem;
    }
    .popupimg{
      opacity: 1;
      width: 20vh;
      opacity: 0;
    }
  }
  @media (min-width: 41rem) and (max-width: 60rem){

  }
}

/*style for community page*/
.a965_festivals_imgcom{
    width: 100%;
    height: 45rem;
    background-image: url('../images/community/Community\ Hero\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width: 20rem) and (max-width: 40rem){
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    }
}

.a965_listcom{
  width: 100%;
  height: 100%;
  background-color: #ECB572;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 200px;
  @media (min-width: 20rem) and (max-width: 40rem){
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media (min-width: 41rem) and (max-width: 60rem){
  }
}


/*style for artist-spotlight page*/
.a965_festivals_imgart{
    width: 100%;
    height: 45rem;
    background-image: url('../images/artist-spotlight/Artist\ Spotlight\ Hero\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width: 20rem) and (max-width: 40rem){
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    }
}

.a965_listart{
  width: 100%;
  height: 100%;
  background-color: #71335B;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 200px;
  @media (min-width: 20rem) and (max-width: 40rem){
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media (min-width: 41rem) and (max-width: 60rem){

  }

}

/*style for brand-collab page*/
.a965_festivals_imgbrand{
    width: 100%;
    height: 45rem;
    background-image: url('../images/brands-collab/Brands\ Collab\ Hero\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width: 20rem) and (max-width: 40rem){
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    }
}
.a965_listbrand{
  width: 100%;
  height: 100%;
  background-color: #3E2C26;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 200px;
  @media (min-width: 20rem) and (max-width: 40rem){
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media (min-width: 41rem) and (max-width: 60rem){

  }
}

/*style for sports page*/
.a965_festivals_imgsports{
    width: 100%;
    height: 45rem;
    background-image: url('../images/sports/Sports\ Hero\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width: 20rem) and (max-width: 40rem){
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    }
}

.a965_listsports{
  width: 100%;
  height: 100%;
  background-color: #B73E31;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 200px;
  @media (min-width: 20rem) and (max-width: 40rem){
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @media (min-width: 41rem) and (max-width: 60rem){

  }

}

/*style for news page*/
.a965_festivals_imgnews{
    width: 100%;
    height: 45rem;
    background-image: url('../images/news/News\ Hero\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width: 20rem) and (max-width: 40rem){
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    }
}