$breakpoints: (
  "mobile": 60em,  
);

@mixin respond($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value {
    @media (max-width: #{$value}) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in \$breakpoints.";
  }
}
