// ========================================
// FESTIVAL PAGE & REUSABLE HERO STYLES
// ========================================

.a965_hero_festival_child {
  position: relative;
  width: 100%;
  height: 45rem;
  background-image: url('../../images/festivals/03 Girl Power/Festivals - ABC Hero Image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;

  .frame1_top {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .frame2_center {
    position: absolute;
    padding-right: 4rem;
    margin-left: 2rem;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    pointer-events: none;
    
    .festival_arrow {
      background: transparent;
      border: none;
      border-radius: 50%;
      width: 4.5rem;
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      pointer-events: auto;
      transition: background 0.2s;
      &:hover { background: rgba(0,0,0,0.32); }
      img { 
        width: 2.2rem; 
        height: 2.2rem; 
        filter: brightness(0) invert(1); // Membuat ikon jadi putih
      }
    }
  }

  .frame3-bottom {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5rem 5rem;
    .festival-logo {
      max-width: 32rem;
      height: auto;
    }
    .festival-link {
      color: #fff;
      font-size: 1.3rem;
      text-decoration: underline;
      opacity: 0.9;
      &:hover { opacity: 1; }
    }
  }
}

@media (max-width: 60rem) {
  .a965_hero_festival_child {
    height: 38rem;
    .frame3-bottom { padding: 0 2rem; font-size: 1.3rem; }
    .frame2_center .festival_arrow, .frame2_center .festival-arrow {
      width: 3.2rem; height: 3.2rem;
      img { width: 1.5rem; height: 1.5rem; }
    }
  }
}


.a965_gallery_top{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    img{
        width: 20rem;
        padding: 0.5rem;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        width: 100%;
        flex-wrap: wrap;
        img{
            width: 10rem;
        }
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    } 
}

.a965_gallery_bottom{
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    img{
        width: 20rem;
        padding: 0.5rem;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        width: 100%;
        flex-wrap: wrap;
        img{
            width: 10rem;
        }
    }
    @media (min-width: 41rem) and (max-width: 60rem){
    } 
}


.a965_article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
    a{
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration: underline;
    }
}
