// FESTIVAL PAGE & REUSABLE HERO STYLES

.a965_hero_festival_child {
  position: relative;
  width: 100%;
  height: 45rem;
  background-image: url('../../images/festivals/03 Girl Power/Festivals - ABC Hero Image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;

  .frame1_top {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .frame2_center {      
    .news_child_title {
        font-size: 2rem;
        font-weight: 200;
        width: 100%;
        color: #222;
        line-height: 1.2;
        margin: 0;
      }
    padding-right: 4rem;
    margin-left: 2rem;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    pointer-events: none;
    
    .festival_arrow {
      background: transparent;
      border: none;
      border-radius: 50%;
      width: 4.5rem;
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      pointer-events: auto;
      transition: background 0.2s;
      &:hover { background: rgba(0,0,0,0.32); }
      img { 
        width: 2.2rem; 
        height: 2.2rem; 
        filter: brightness(0) invert(1);
      }
    }
  }

  .frame3-bottom {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5rem 5rem;
    .festival-logo {
      max-width: 32rem;
      height: auto;
    }
    .festival-link {
      color: #fff;
      font-size: 1.3rem;
      text-decoration: underline;
      opacity: 0.9;
      &:hover { opacity: 1; }
    }
  }
}

@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_hero_festival_child {
    height: 32rem;
    .frame2_center {
      padding-right: 2rem;
      margin-left: 1rem;
      .festival_arrow {
        width: 3.5rem;
        height: 3.5rem;
        img {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
    .frame3-bottom {
      font-size: 1.6rem;
      padding: 2rem;
      .festival-logo {
        max-width: 8rem;
      }
      .festival-link {
        font-size: 1.1rem;
      }
    }
  }
}


@media (min-width: 40.1rem) and (max-width: 60rem) {
  .a965_hero_festival_child {
    height: 32rem;
    .frame2_center {
      padding-right: 2rem;
      margin-left: 1rem;
      .festival_arrow {
        width: 3.5rem;
        height: 3.5rem;
        img {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
    .frame3-bottom {
      font-size: 1.6rem;
      padding: 2.5rem 2rem;
      .festival-logo {
        max-width: 18rem;
      }
      .festival-link {
        font-size: 1.1rem;
      }
    }
  }
}



.a965_gallery_top{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    img{
        width: 20rem;
        padding: 0.5rem;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        width: 100%;
        flex-wrap: wrap;
        img{
            width: 10rem;
        }
    }
    @media (min-width: 40.1rem) and (max-width: 60rem){
      width: 100%;
        flex-wrap: wrap;
        img{
            width: 12rem;
        }
    } 
}

.a965_gallery_bottom{
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    img{
        width: 20rem;
        padding: 0.5rem;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
        width: 100%;
        flex-wrap: wrap;
        img{
            width: 10rem;
        }
    }
    @media (min-width: 40.1rem) and (max-width: 60rem){
        width: 100%;
        flex-wrap: wrap;
        img{
            width: 12rem;
        }
    } 
}


.a965_article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 6rem;;
    margin: 12rem 0;
    a{
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        text-decoration: underline;
    }
    @media (min-width: 20rem) and (max-width: 40rem){
      flex-direction: column;
      margin: 1em 4rem 4rem 4rem;
      gap: 1em;
      a{
        font-size: 1.2rem;
      }
    }
    @media (min-width: 40.1rem) and (max-width: 60rem){
     a{
        font-size: 1.2rem;
      }
    }
}

// BRAND PAGE & REUSABLE HERO STYLES

.a965_hero_brands_child {
  position: relative;
  width: 100%;
  height: 45rem;
  background-image: url('../../images/brands-collab/collabs/H&M Hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;

  .frame1_top {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .frame3-bottom {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5rem 4rem;

    
@media (min-width: 20rem) and (max-width: 40rem) {
  padding: 1rem;
  h1{
  font-size: 1rem;
  }
}

  }
}

.a965_brand_index{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    background-color: #F8F2EB;
    &_list{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3rem;
    }
    &_text{
      padding: 2rem;
      margin-left: 4rem;
    }
    h2{
        font-size: 2rem;
        padding-bottom: 1.125rem;
        line-height: 2.5rem;
        width: 28rem;
        font-weight: 300;
    }
    img{
        width: 20rem;
    }
   &_list{
     button{
        background-color: #000;
        padding: 1rem 3rem 1rem 3rem;
        color: #fff;
        border: 2px solid #000;
        transition: all 0.3s ease;
        
        &:hover {
          background-color: #fff;
          color: #000;
          border: 2px solid #000;
        }
    }
   }
}

@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_brand_index {
    padding-top: 2rem;
    margin: 0;
    h2 {
      font-size: 1.1rem;
      line-height: 1.5rem;
      padding-bottom: 1rem;
      width: 16rem;
    }
    &_list {
      flex-direction: column;
      margin: 0;
      padding: 2rem 0;
      button {
        width: 12rem;
        padding: 0.7rem 1.5rem;
        font-size: 0.9rem;
      }
    }
    &_text {
      padding: 2rem;
      margin: 0;
      text-align: center;
    }
    img {
      width: 16rem;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 40.1rem) and (max-width: 60rem) {
  .a965_brand_index {
    padding-top: 1.875rem;
    h2 {
      font-size: 1.5rem;
      line-height: 2rem;
      width: 31.25rem;
      padding-bottom: 0.75rem;
    }
    &_list {
      flex-direction: column;
      padding: 3.125rem 0;
      button {
        width: 80%;
        padding: 0.9rem 2rem;
        font-size: 1rem;
      }
    }
    &_text {
      padding-left: 0;
      padding-top: 1.5rem;
      text-align: center;
    }
    img {
      width: 21.875rem;
      margin-bottom: 1rem;
    }
  }
}


.brands_load_more {
  display: block;
  margin: 3rem auto 3rem auto;
  padding: 1rem 2.5rem;
  background: none;
  border: none;
  color: #222;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  transition: color 0.2s;
}
.brands_load_more:hover {
  color: #b3ada7;
}

//news

.a965_hero_news_child {
  position: relative;
  width: 100%;
  height: 45rem;
  background-image: url('../../images/news/01 Marina Central unleashes Music Magic/Marina Central unleashes Music Magic Hero Image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;

  .frame1_top {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .frame2_center {
    position: absolute;
    padding-right: 4rem;
    margin-left: 2rem;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    pointer-events: none;
    
    .festival_arrow {
      background: transparent;
      border: none;
      border-radius: 50%;
      width: 4.5rem;
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      pointer-events: auto;
      transition: background 0.2s;
      &:hover { background: rgba(0,0,0,0.32); }
      img { 
        width: 2.2rem; 
        height: 2.2rem; 
        filter: brightness(0) invert(1);
      }
    }
  }

  .frame3-bottom {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5rem 5rem;
    h2{
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
}

@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_hero_news_child {
    height: 36rem;
    .frame2_center {
      padding-right: 2rem;
      margin-left: 1rem;
      .festival_arrow {
        width: 3.5rem;
        height: 3.5rem;
        img {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
    .frame3-bottom {
      font-size: 1.6rem;
      padding: 2rem;
      .festival-logo {
        max-width: 8rem;
      }
      .festival-link {
        font-size: 1.1rem;
      }
    }
  }
}


@media (min-width: 40.1rem) and (max-width: 60rem) {
  .a965_hero_news_child {
    height: 32rem;
    .frame2_center {
      padding-right: 2rem;
      margin-left: 1rem;
      .festival_arrow {
        width: 3.5rem;
        height: 3.5rem;
        img {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
    .frame3-bottom {
      font-size: 1.6rem;
      padding: 2.5rem 2rem;
      .festival-logo {
        max-width: 18rem;
      }
      .festival-link {
        font-size: 1.1rem;
      }
    }
  }
}



.a965_news_child_section_wrap {
  width: 100%;
  margin: 8rem auto 0 auto;
  gap: 2rem;
  padding: 0 6rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 20rem) and (max-width: 40rem){
    padding: 0 2rem;
  }
  @media (min-width: 40.1rem) and (max-width: 60rem){
    padding: 0 4rem;
  }
}


.a965_news_child_list {
  display: flex;
  flex-direction: column;
  gap: 0;
  background: #f8f2eb;
  padding: 0;
  border: none;
  position: relative;
  width: 100%;
  margin: 0 auto 6rem auto;

  > div:first-child {
    padding: 2rem 0;
    border-bottom: 0.125rem solid #222;

  }

  .news_child_title{
    font-size: 2.5rem;
    font-weight: 400;
    color: #222;
    padding: 0rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 7rem;
    word-wrap: break-word;
  }
  
  .a965_news_child_item {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 2rem 0;
    position: relative;
    border-bottom: 0.125rem solid #222;
    border-top: none;
    margin: 0;
    width: 100%;
    
    &:hover {
      background: #f3ede5;
      .news_child_arrow img {
        content: url('../../images/logo-icons/Black Arrow Icon-Hover.svg');
        width: 1.7rem;
        transform: none;
        filter: none;
      }
    }

    .news_child_content {
      width: 100%;
    }

   
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .news_child_content {
        display: contents;
      }
      
      .news_child_header {
        display: contents;
      }
      
      .news_child_date {
        font-size: 1rem;
        font-weight: 400;
        order: 1;
      }
      
      .news_child_title {
        font-size: 2rem;
        font-weight: 400;
        width: 40%;
        line-height: 1.2;
        order: 2;
        margin: 0;
        color: #222;
      }
      
      .news_child_arrow {
        margin-left: 2.4rem;
        font-size: 2.6rem;
        color: #222;
        flex-shrink: 0;
        display: flex;
        justify-content: flex-end;
        order: 3;
      }

    @media (min-width: 20rem) and (max-width: 40rem){
      padding: 2rem 0;
      display: block;
      
      .news_child_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
      }
      
      
      
      .news_child_arrow {
        margin-left: 0;
        font-size: 2.6rem;
        color: #222;
        flex-shrink: 0;
        display: flex;
        justify-content: flex-end;
      }
      
      .news_child_title {
        width: 100%;
        color: #222;
        line-height: 1.2;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: calc(1.2em * 2);
        word-wrap: break-word;
      }

      &:hover {
      background: #f3ede5;
      .news_child_arrow img {
        content: url('../../images/logo-icons/Black Arrow Icon-Hover.svg');
        width: 0.8rem;
        transform: none;
        filter: none;
        }
      }
      .news_child_header {
        margin-bottom: 1.5rem;
      }

      .news_child_date {
        font-size: 0.9rem;
      }

      .news_child_arrow img {
        width: 1rem;
      }

      .news_child_title {
        font-size: 1.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: calc(1.2em * 2);
        word-wrap: break-word;
      }
    }

    @media (min-width: 40.1rem) and (max-width: 60rem){
      padding: 1.5rem 0;

      .news_child_header {
        margin-bottom: 1.2rem;
      }

      .news_child_title {
        font-size: 1.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: calc(1.2em * 2);
        word-wrap: break-word;
      }
    }
  }
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
}

.image-overlay-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.image-overlay-container {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.overlay-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none;
  
  &:active {
    cursor: grabbing;
  }
}

.image-overlay-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
}

.overlay-btn {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.2s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  
  &:hover {
    background: rgba(255, 255, 255, 1);
    transform: scale(1.1);
  }
  
  img {
    display: none;
  }
}

.close-btn {
  top: 2rem;
  right: 2rem;
  
  &::after {
    content: "×";
    font-size: 1.5rem;
  }
  
  img {
    width: 1rem;
    height: 1rem;
  }
}

.zoom-in-btn {
  bottom: 6rem;
  left: 2rem;
  
  &::after {
    content: "+";
    font-size: 1.5rem;
  }
}

.zoom-out-btn {
  bottom: 2rem;
  left: 2rem;
  
  &::after {
    content: "−";
    font-size: 1.5rem;
  }
}

.prev-btn {
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  
  img {
    display: block !important; 
    width: 1.2rem;
    height: 1.2rem;
    filter: brightness(0);
  }
}

.next-btn {
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  
  img {
    display: block !important; 
    height: 1.2rem;
    filter: brightness(0);
  }
}

@media (min-width: 20rem) and (max-width: 40rem) {
  .overlay-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    
    img {
      width: 1rem;
      height: 1rem;
    }
  }
  
  .close-btn {
    top: 1rem;
    right: 1rem;
    
    &::after {
      font-size: 1.3rem;
    }
  }
  
  .zoom-in-btn {
    bottom: 4.5rem;
    left: 1rem;
    
    &::after {
      font-size: 1.3rem;
    }
  }
  
  .zoom-out-btn {
    bottom: 1rem;
    left: 1rem;
    
    &::after {
      font-size: 1.3rem;
    }
  }
  
  .prev-btn {
    left: 1rem;
  }
  
  .next-btn {
    right: 1rem;
  }
  
  .image-overlay-container {
    max-width: 95vw;
    max-height: 95vh;
  }
}

@media (min-width: 40.1rem) and (max-width: 60rem) {
  .overlay-btn {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.1rem;
    
    img {
      width: 1.1rem;
      height: 1.1rem;
    }
  }
  
  .close-btn {
    top: 1.5rem;
    right: 1.5rem;
    
    &::after {
      font-size: 1.4rem;
    }
  }
  
  .zoom-in-btn {
    bottom: 5.5rem;
    left: 1.5rem;
    
    &::after {
      font-size: 1.4rem;
    }
  }
  
  .zoom-out-btn {
    bottom: 1.5rem;
    left: 1.5rem;
    
    &::after {
      font-size: 1.4rem;
    }
  }
  
  .prev-btn {
    left: 1.5rem;
  }
  
  .next-btn {
    right: 1.5rem;
  }
}
