@use "../base/global" as *;
@use "../mixins/hover" as *;
@use "../mixins/breakpoints" as *;

.hero-index {
  background-color: $color-primary;
  padding: $page-normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $section-medium;

  img {
    width: 160px;
  }

  &__title {
    font: $font-desktop-dm-500-42;
    color: $color-secondary;
  }

  &__text {
    font: $font-desktop-montserrat-500-16;
    max-width: 26rem;
    margin: 0;
    color: $color-secondary;
  }
}

.banner {
  width: 100%;
  height: 45rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &--festival {
    background-image: url("../images/home/festivals-new.png");
  }

  &--brand {
    background-image: url("../images/home/Brands\ Collab.png");
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 45rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;

    a {
      color: $color-primary;
      font: $font-desktop-dm-400-18;
      @include hover-underline();
    }

    h2 {
      color: $color-primary;
      font: $font-desktop-dm-400-42;
    }
  }
}

.frame {
  display: flex;
  padding: $page-extend;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.4s ease;

  &--first {
    background-color: $color-teal;

    &:has(.frame__item--left:hover) {
      background-color: $color-yellow;
    }

    &:has(.frame__item--right:hover) {
      background-color: $color-purple;
    }
  }

  &--second {
    background-color: $color-yellow;

    &:has(.frame__item--left:hover) {
      background-color: $color-red;
    }

    &:has(.frame__item--right:hover) {
      background-color: $color-secondary;
    }
  }

  &__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;
    z-index: 1;
    display: flex;
    overflow: visible;

    &--left {
      justify-content: flex-start;
      margin-bottom: 2.5rem;

      .frame__img {
        width: 28rem;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          display: block;
          transform-origin: center;
          transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      figcaption {
        padding: $section-medium;
        margin-left: -8rem;
        position: relative;
        z-index: 3;

        a {
          color: $color-primary;
          font: $font-desktop-dm-400-42;
          text-decoration: none;
          @include hover-underline();
        }
      }
    }

    &--right {
      justify-content: flex-end;
      margin-right: 8rem;
      margin-top: -14rem;
      z-index: 2;

      .frame__img {
        width: 20rem;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          display: block;
          transform-origin: center;
          transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      figcaption {
        padding: $section-medium;
        margin-left: -8rem;
        position: relative;
        z-index: 4;

        a {
          color: $color-primary;
          font: $font-desktop-dm-400-42;
          text-decoration: none;
          @include hover-underline();
        }
      }
    }
  }
}

.brand-icons {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: $page-extend;

  &__item {
    width: 22rem;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

// RESPONSIVE STYLES
@include respond("mobile") {
  .hero-index {
    width: auto;
    padding: $page-mobile-normal;
    height: auto;

    img {
      width: 6rem;
    }

    &__title {
      font: $font-mobile-dm-400-32;
    }

    &__text {
      font: $font-mobile-montserrat-500-12;
      width: 85%;
      margin: 0;
    }
  }

  .banner {
    height: 40rem;

    &__content {
      flex-direction: column;
      align-items: flex-start;
      padding: 25rem 2rem 3rem 2rem;

      a {
        font: $font-mobile-dm-400-14;
        padding-top: 1rem;
      }

      h2 {
        font: $font-mobile-dm-400-20;
      }
    }
  }

  .frame {
    padding: $page-mobile-normal;
    width: 100%;

    &__content {
      width: 100%;
      position: relative;
      display: flex;
      gap: $section-large;
      flex-direction: column;
    }

    &__item {
      position: relative;
      display: flex;
      flex-direction: row;

      &--left,
      &--right {
        margin: 0;
        figcaption {
          padding: 1rem 0 1rem 4rem;
          width: 68%;
          a {
            color: $color-primary;
            font: $font-mobile-dm-400-20;
            text-decoration: none;
            @include hover-underline();
          }
        }
      }

      &--left {
        justify-content: flex-start;

        .frame__img {
          width: 12rem;
        }
      }

      &--right {
        justify-content: flex-end;
        margin-right: -2rem;

        .frame__img {
          width: 9rem;
        }
      }
    }
  }

  .brand-icons {
    flex-direction: column;
    align-items: center;
    padding: $page-mobile-normal;

    &__item {
      width: 12rem;
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
