@use "../base/global" as *;
@use "../mixins/hover" as *;
@use "../mixins/breakpoints" as *;

.site-footer {
  display: flex;
  justify-content: space-between;
  background-color: $color-secondary;
  color: $color-primary;
  gap: $section-large;
  height: auto;
  padding: 8rem 6rem 6rem 6rem;
  font: $font-desktop-dm-400-18;

  a {
    align-self: flex-end;
    padding: 0;
    img {
      width: 140px;
    }
  }

  ul,
  p {
    list-style: none;
  }

  &__column1 {
    display: flex;
    height: 10rem;
    justify-content: space-between;
    gap: 8rem;

    .site-footer__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a:not(:has(img)) {
    color: $color-primary;
    text-decoration: none;
    @include hover-underline();
  }

  &__column3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// Mobile
@include respond("mobile") {
  .site-footer {
    padding: 4rem 2rem;
    gap: $section-large;
    align-items: flex-start;
    font: $font-mobile-dm-400-14;
    flex-wrap: wrap;
    a {
      img {
        width: 60px !important;
      }
    }

    &__column1 {
      height: auto;

      .site-footer__list {
        gap: $section-medium;
      }

      img {
        width: 80px;
      }
    }

    &__column2 {
      gap: $section-large;
    }

    &__column3 {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      li {
        &:nth-child(1) {
          order: 1;
        }
        &:nth-child(2) {
          order: 3;
        }
        &:nth-child(3) {
          order: 2;
        }
      }
    }
  }
}
