.a965_footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #151515;
    color: #fff;
    padding: 5rem;
    height: auto;
    &_logo{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    img{
        width: 7rem;
        height: 7rem;
        margin-bottom: 1rem;
    }
    ul, p{
        font-size: 1rem;
        line-height: 3rem;
        width: auto;
    }
    &_g{
        display: flex;
        gap: 4rem;
        &_column1{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
        }
    }
    &_column2{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        padding-top: 1rem;
        justify-content: space-between;
    }
    a{
        color: white;
        font-size: 1rem;
        font-weight: 400;
    }
    a:hover{
        text-decoration: underline;
        transition: 0.5 ease;
    }
    /*tablet*/
    @media (min-width: 41rem) and (max-width: 60rem){
        padding: 2rem;
        gap: 1rem;
        }
        &_g{
            flex-direction: row;
            &_column1{
            gap: 1.5rem;
            }
        }
        &_column2{
            p, ul{
                line-height: 1rem;
            }
        }
    /*mobile*/
    @media (min-width: 20rem) and (max-width: 40rem){
        flex-direction: column;
        padding: 2rem;
        gap: 3rem;
        }
        &_g{
            flex-direction: row;
            &_column1{
            gap: 1.5rem;
            }
        }
        &_column2{
            gap: 3rem;
            p, ul{
                line-height: 1.3rem;
            }
        }

}

    // <footer id="a965_footer" class="a965_footer">
    //     <div class="a965_footer_logo">
    //         <a href="index.html"><img src="images/home/19sixtyfive Logo-White.png" alt="1965 Logo White"></a>
    //     </div>
    //     <ul class="a965_footer_column1">
    //         <li><a href="single.html">Festivals</a></li>
    //         <li><a href="community.html">Community</a></li>
    //         <li><a href="artist-spotlight.html">Artist Spotlight</a></li>
    //         <li><a href="brands-collab.html">Brands Collab</a></li>
    //     </ul>
    //     <ul class="a965_footer_column1">
    //         <li><a href="sports.html">Sports</a></li>
    //         <li><a href="news.html">News</a></li>
    //         <li><a href="our-fam.html">Our Fam</a></li>
    //         <li><a href="">Youtube</a></li>
    //     </ul>
    //     <div class="a965_footer_column2">
    //         <p>27 Pasir Panjang Road<br>
    //         Pasir Panjang Power Station<br>
    //         Singapore 117537</p>
    //         <ul>
    //             <li>+65 6475 9200</li>
    //             <li>contact@19sixtyfive.com.sg</li>
    //         </ul>
    //     </div>
    //     <ul class="a965_footer_column1">
    //         <li><a href="https://24owls.sg/">24owls.sg</a></li>
    //         <li><a href="https://sixtyfive.sg/">sixtyfive.sg</a></li>
    //         <li><a href="https://tangentmoves.sg/">tangentmoves.sg</a></li>
    //     </ul>
    // </footer>
