.a965_footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #151515;
    color: #fff;
    padding: 5rem;
    height: auto;
    &_logo{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    img{
        width: 7rem;
        height: 7rem;
        margin-bottom: 1rem;
    }
    ul, p{
        font-size: 1rem;
        line-height: 3rem;
        width: auto;
    }
    &_g{
        display: flex;
        gap: 4rem;
        &_column1{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
        }
    }
    &_column2{
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        padding-top: 1rem;
        justify-content: space-between;
    }
    a{
        color: white;
        font-size: 1rem;
        font-weight: 400;
    }
    a:hover{
        text-decoration: underline;
        transition: 0.5 ease;
    }
    /*tablet*/
    @media (min-width: 41rem) and (max-width: 60rem){
        padding: 2rem;
        gap: 3rem;
        }
    /*mobile*/
    @media (min-width: 20rem) and (max-width: 40rem){
        flex-direction: column;
        padding: 2rem;
        gap: 3rem;
        }
        &_g{
            flex-direction: row;
            &_column1{
            gap: 1.5rem;
            }
        }
        &_column2{
            gap: 3rem;
            p, ul{
                line-height: 1.3rem;
            }
        }

}
