body {
    background-color: #F8F2EB;
}

body.no-scroll {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    
    @media (min-width: 20rem) and (max-width: 40rem) {
        font-size: 1rem;
        line-height: 1.4rem;
    }
    
    @media (min-width: 40.1rem) and (max-width: 60rem) {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    
    @media (min-width: 20rem) and (max-width: 40rem) {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    
    @media (min-width: 40.1rem) and (max-width: 60rem) {
        font-size: 3rem;
        line-height: 4rem;
    }
}

h2 {
    font-size: 2.6rem;
    line-height: 3.6rem;
    font-weight: 200;
    
    @media (min-width: 20rem) and (max-width: 40rem) {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    
    @media (min-width: 41rem) and (max-width: 60rem) {
        font-size: 2.6rem;
    }
}

.a965_hero {
    background-color: #F8F2EB;
    height: 50rem;
    display: flex;
    padding-bottom: 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        width: 80rem;

        &_para{
            width: 40rem;
        }
        
        img {
            width: 12rem;
        }
    }
    
    @media (min-width: 20rem) and (max-width: 40rem) {
        width: auto;
        height: 44rem;
        img{
            width: 6rem;
        }
        
        &_content {
            width: 100%;
            &_para {
                width: 80%;
            }
        }
    }
    
    @media (min-width: 40rem) and (max-width: 60rem) {
          img{
            width: 9rem;
        }
        &_content {
            width: 45rem;
        }
    }
}

.a965_festivals1 {
    width: 100%;
    height: 45rem;
    background-size: cover;
    background-image: url('../images/home/festivals-new.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    div {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between; 
        padding-top: 45rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 5rem;
    }
    
    h2 {
        color: #fff;
    }
    
    a {
        font-size: 1.31rem;
        font-weight: 400;
        text-decoration: underline;
        color: #fff;
    }
    
    @media (min-width: 20rem) and (max-width: 40rem) {
        div {
            flex-direction: column;
            align-items: flex-start;
            padding-top: 30rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 5rem;
        }
        
        a {
            font-size: 1rem;
            padding-top: 1rem;
        }
    }
    
    @media (min-width: 41rem) and (max-width: 60rem) {
        div {
            padding-bottom: 8rem;
        }
    }
}

.a965_festivals2 {
    width: 100%;
    height: 45rem;
    background-image: url('../images/home/Brands\ Collab.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    div {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between; 
        padding-top: 45rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 5rem;
    }
    
    h2 {
        color: #fff;
    }
    
    a {
        font-size: 1.31rem;
        font-weight: 400;
        text-decoration: underline;
        color: #fff;
    }
    
    @media (min-width: 20rem) and (max-width: 40rem) {
        div {
            flex-direction: column;
            align-items: flex-start;
            padding-top: 30rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 5rem;
        }
        
        a {
            font-size: 1rem;
            padding-top: 1rem;
        }
    }
    
    @media (min-width: 41rem) and (max-width: 60rem) {
        div {
            height: 32rem;
            padding-bottom: 8rem;
        }
    }
}

.a965_frame1 {
    background-color: #305966;
    display: flex;
    height: 56rem;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem;
    transition: background-color 0.4s ease;

    a {
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 3.625rem;
        color: #fff;
    }
    
    &_content {
        width: 100%;
        position: relative;
        
        &_left {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2.5rem;
            position: relative;
            z-index: 1;
            overflow: hidden;

            img {
                width: 28rem;
                transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
                transform-origin: left center;
                cursor: pointer;
                
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        
        &_right {
            display: flex;
            justify-content: flex-end;
            margin-right: 8rem;
            margin-top: -14rem;
            position: relative;
            z-index: 2;
            overflow: hidden;

            img {
                width: 20rem;
                transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
                transform-origin: left center;
                cursor: pointer;
                
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        
        &_text {
            padding-bottom: 3rem;
        }
        
        &_left_text {
            padding: 2.5rem;
            margin-left: -7.5rem;
            position: relative;
            z-index: 3;
        }
        
        &_right_text {
            padding: 2.5rem;
            margin-left: -7.5rem;
            position: relative;
            z-index: 4;
        }
    }
    
    &:has(.a965_frame1_content_left:hover) {
        background-color: #ECB572;
    }
    
    &:has(.a965_frame1_content_right:hover) {
        background-color: #71335B;
    }
    
    &.hover {
        background-color: #ECB572;
        transition: background-color 0.3s ease;
    }
    
    &.hover2 {
        background-color: #71335B;
        transition: background-color 0.3s ease;
    }
    
    @media (min-width: 20rem) and (max-width: 40rem) {
        padding: 1.5rem;
        height: auto;
        &_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            &_left {
                margin: 0rem 0rem 1.5rem 0rem;
            }
            &_right {
                padding: -4rem;
                margin: 0rem -2rem 0rem 4rem;
            }
            img{
                width: 12rem;
                height: 12rem;
                padding: 1rem;
            }
            a{
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
    
    @media (min-width: 41rem) and (max-width: 60rem) {
        padding: 4rem 2rem 4rem 2rem;
        height: auto;
        &_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            &_left {
                margin: 0rem 8rem 1.5rem 0rem;
            }
            &_right {
                padding: -4rem;
                margin: 0rem -2rem 0rem 8rem;
            }
            img{
                width: 18rem;
                height: 18rem;
                padding: 1rem;
            }
            a{
                font-size: 2rem;
                line-height: 3rem;
            }
        }
    }
}

.a965_frame2 {
    background-color: #ECB572;
    display: flex;
    height: 56rem;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem;
    transition: background-color 0.4s ease;

    a {
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 3.625rem;
        color: #fff;
    }

    &_content {
        width: 100%;
        position: relative;
        
        &_left {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2.5rem;
            position: relative;
            z-index: 1;
            overflow: hidden;

            img {
                width: 28rem;
                transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
                transform-origin: left center;
                cursor: pointer;
                
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        
        &_right {
            display: flex;
            justify-content: flex-end;
            margin-right: 8rem;
            margin-top: -14rem;
            position: relative;
            z-index: 2;
            overflow: hidden;

            img {
                width: 20rem;
                transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
                transform-origin: left center;
                cursor: pointer;
                
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        
        &_text {
            padding-bottom: 3rem;
        }
        
        &_left_text {
            padding: 2.5rem;
            margin-left: -7.5rem;
            position: relative;
            z-index: 3;
        }
        
        &_right_text {
            padding: 2.5rem;
            margin-left: -7.5rem;
            position: relative;
            z-index: 4;
        }
    }
    
    &:has(.a965_frame2_content_left:hover) {
        background-color: #B73E31;
    }
    
    &:has(.a965_frame2_content_right:hover) {
        background-color: #151515;
    }
    
    &.hover {
        background-color: #B73E31;
        transition: background-color 0.3s ease;
    }
    
    &.hover2 {
        background-color: #151515;
        transition: background-color 0.3s ease;
    }
    
    @media (min-width: 20rem) and (max-width: 40rem) {
        padding: 1.5rem;
        height: auto;
        &_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            &_left {
                margin: 0rem 0rem 1.5rem 0rem;
            }
            &_right {
                padding: -4rem;
                margin: 0rem -2rem 0rem 4rem;
            }
            img{
                width: 12rem;
                height: 12rem;
                padding: 1rem;
            }
            a{
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
    
    @media (min-width: 41rem) and (max-width: 60rem) {
     padding: 2rem;
        height: auto;
        &_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            &_left {
                margin: 0rem 8rem 1.5rem 0rem;
            }
            &_right {
                padding: -4rem;
                margin: 0rem -2rem 0rem 8rem;
            }
            img{
                width: 18rem;
                height: 18rem;
                padding: 1rem;
            }
            a{
                font-size: 2rem;
                line-height: 3rem;
            }
        }
    }
}

.a965_icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    height: auto;
    padding-top: 10rem;
    padding-bottom: 15rem;

    img {
        width: 20rem;
        padding-top: 3rem;
    }

    @media (min-width: 20rem) and (max-width: 40rem) {
        flex-direction: column;
        margin: 0 auto;
        padding-top: 5rem;
        padding-bottom: 5rem;

        img {
            width: 12rem;
            padding-top: 2rem;
        }
    }

    @media (min-width: 41rem) and (max-width: 60rem) {
        padding: 4rem;
        width: auto;
        img {
            padding: 0;
            width: 12rem;
            margin: 1rem;

        }
    }
}
