@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

body {
  color: #151515;
  background-color: #fff;
  font-family: "DM Sans", Arial;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.off_screen_menu {
  background-color: #151515;
  height: 100vh;
  width: 100%;
  min-width: 80rem;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  overflow-y: hidden;
  transform-origin: top right;
  scale: 0;
  transition: 0.4s ease;
}
.off_screen_menu img {
  width: 5.5rem;
  padding-bottom: 2.5rem;
  opacity: 0;
}
.off_screen_menu li {
  padding-top: 1.25rem;
}
.off_screen_menu a {
  color: #fff;
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-left: 7.5rem;
  opacity: 0;
}
.off_screen_menu a:hover {
  text-decoration: underline;
  transition: 1s ease;
  transition-delay: 0.1s;
}
.off_screen_menu.active {
  transform-origin: top right;
  scale: 100%;
}
.off_screen_menu.active img, .off_screen_menu.active a {
  transition-delay: 1s;
  transition: 0.5s ease;
  transition-property: opacity;
  opacity: 100%;
  z-index: 1;
}
.off_screen_menu .a965_header_hammenu.close {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 2100;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
}

nav {
  padding-top: 40px;
  padding-right: 40px;
  display: flex;
  align-items: flex-start !important;
}

.a965_header {
  background-color: #F8F2EB;
  width: 100%;
}
.a965_header nav {
  align-items: center;
}
.a965_header nav img {
  margin-left: 2.5rem;
}

.a965_header_hammenu {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
}
.a965_header_hammenu span {
  height: 4px;
  width: 100%;
  background-color: #151515;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
}
.a965_header_hammenu span:nth-child(1) {
  top: 25%;
  transform-origin: center;
}
.a965_header_hammenu span:nth-child(2) {
  top: 50%;
  transform-origin: center;
}
.a965_header_hammenu span:nth-child(3) {
  top: 75%;
  transform-origin: center;
}
.a965_header_hammenu.active span {
  background-color: #F8F2EB;
}
.a965_header_hammenu.active span:nth-child(1) {
  top: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.a965_header_hammenu.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50%) scale(0);
}
.a965_header_hammenu.active span:nth-child(3) {
  top: 50%;
  transform: translateX(-50%) rotate(-45deg);
}
.a965_header_hammenu.close span {
  background-color: #fff !important;
}
.a965_header_hammenu.close span:nth-child(1) {
  top: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.a965_header_hammenu.close span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50%) scale(0);
}
.a965_header_hammenu.close span:nth-child(3) {
  top: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

@media (max-width: 768px) {
  .off_screen_menu {
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    width: 100vw;
    min-width: 0;
    box-sizing: border-box;
  }
  .off_screen_menu .a965_header_hammenu.close {
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
  }
  .off_screen_menu a {
    font-size: 1.2rem;
    line-height: 2rem;
    padding-left: 2rem;
  }
  .a965_header_hammenu {
    width: 32px;
    height: 32px;
  }
  .a965_header_hammenu span {
    height: 3px;
    border-radius: 1.5px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.a965_footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #151515;
  color: #fff;
  padding: 5rem;
  height: auto;
  /*tablet*/
  /*mobile*/
}
.a965_footer_logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.a965_footer img {
  width: 7rem;
  height: 7rem;
  margin-bottom: 1rem;
}
.a965_footer ul, .a965_footer p {
  font-size: 1rem;
  line-height: 3rem;
  width: auto;
}
.a965_footer_g {
  display: flex;
  gap: 4rem;
}
.a965_footer_g_column1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.a965_footer_column2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
  justify-content: space-between;
}
.a965_footer a {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.a965_footer a:hover {
  text-decoration: underline;
  transition: 0.5 ease;
}
@media (min-width: 41rem) and (max-width: 60rem) {
  .a965_footer {
    padding: 2rem;
    gap: 3rem;
  }
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_footer {
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
  }
}
.a965_footer_g {
  flex-direction: row;
}
.a965_footer_g_column1 {
  gap: 1.5rem;
}
.a965_footer_column2 {
  gap: 3rem;
}
.a965_footer_column2 p, .a965_footer_column2 ul {
  line-height: 1.3rem;
}

body {
  background-color: #F8F2EB;
}

body.no-scroll {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 40.1rem) and (max-width: 60rem) {
  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 40.1rem) and (max-width: 60rem) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 200px;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  h2 {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}
@media (min-width: 41rem) and (max-width: 60rem) {
  h2 {
    font-size: 2.6rem;
  }
}

.a965_hero {
  overflow-x: hidden;
  background-color: #F8F2EB;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.a965_hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 78vw;
}
.a965_hero_content img {
  width: 7rem;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_hero {
    width: 100vw;
  }
  .a965_hero_content {
    width: 80vw;
  }
}
@media (min-width: 40rem) and (max-width: 60rem) {
  .a965_hero_content {
    width: 80vw;
  }
}

.a965_festivals1 {
  width: 100%;
  height: 45rem;
  background-size: cover;
  background-image: url("../images/home/festivals-new.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.a965_festivals1 div {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 45rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}
.a965_festivals1 h2 {
  color: #fff;
}
.a965_festivals1 a {
  font-size: 21px;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_festivals1 div {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
  }
  .a965_festivals1 a {
    font-size: 1rem;
    padding-top: 1rem;
  }
}
@media (min-width: 41rem) and (max-width: 60rem) {
  .a965_festivals1 div {
    padding-bottom: 8rem;
  }
}

.a965_festivals2 {
  width: 100%;
  height: 45rem;
  background-image: url("../images/home/Brands Collab.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.a965_festivals2 div {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 45rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}
.a965_festivals2 h2 {
  color: #fff;
}
.a965_festivals2 a {
  font-size: 21px;
  font-weight: 400;
  text-decoration: underline;
  color: #fff;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_festivals2 div {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
  }
  .a965_festivals2 a {
    font-size: 1rem;
    padding-top: 1rem;
  }
}
@media (min-width: 41rem) and (max-width: 60rem) {
  .a965_festivals2 div {
    padding-bottom: 8rem;
  }
}

.a965_frame1 {
  background-color: #305966;
  display: flex;
  height: 56rem;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem;
  transition: background-color 0.4s ease;
}
.a965_frame1 a {
  font-size: 36px;
  font-weight: 400;
  line-height: 58px;
  color: #fff;
}
.a965_frame1_content {
  width: 100%;
  position: relative;
}
.a965_frame1_content_left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.a965_frame1_content_left img {
  width: 28rem;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left center;
  cursor: pointer;
}
.a965_frame1_content_left img:hover {
  transform: scale(1.1);
}
.a965_frame1_content_right {
  display: flex;
  justify-content: flex-end;
  margin-right: 8rem;
  margin-top: -14rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.a965_frame1_content_right img {
  width: 20rem;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left center;
  cursor: pointer;
}
.a965_frame1_content_right img:hover {
  transform: scale(1.1);
}
.a965_frame1_content_text {
  padding-bottom: 3rem;
}
.a965_frame1_content_left_text {
  padding: 2.5rem;
  margin-left: -7.5rem;
  position: relative;
  z-index: 3;
}
.a965_frame1_content_right_text {
  padding: 2.5rem;
  margin-left: -7.5rem;
  position: relative;
  z-index: 4;
}
.a965_frame1:has(.a965_frame1_content_left:hover) {
  background-color: #ECB572;
}
.a965_frame1:has(.a965_frame1_content_right:hover) {
  background-color: #71335B;
}
.a965_frame1.hover {
  background-color: #ECB572;
  transition: background-color 0.3s ease;
}
.a965_frame1.hover2 {
  background-color: #71335B;
  transition: background-color 0.3s ease;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_frame1 {
    padding: 2rem;
    height: auto;
  }
  .a965_frame1_content_left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    z-index: auto;
  }
  .a965_frame1_content_left img {
    width: 100%;
    max-width: 20rem;
  }
  .a965_frame1_content_right {
    margin-top: 2rem;
    margin-right: 0;
    z-index: auto;
  }
  .a965_frame1_content_right img {
    width: 100%;
    max-width: 18rem;
  }
  .a965_frame1_content_left_text {
    padding: 2rem;
    margin-left: -5rem;
    text-align: left;
    position: relative;
    z-index: 2;
  }
  .a965_frame1_content_right_text {
    padding: 2rem;
    margin-left: -5rem;
    text-align: left;
    position: relative;
    z-index: 2;
  }
}
@media (min-width: 41rem) and (max-width: 60rem) {
  .a965_frame1_content_left img {
    width: 22rem;
  }
  .a965_frame1_content_right img {
    width: 18rem;
  }
  .a965_frame1_content_left_text {
    padding: 2rem;
    margin-left: -5rem;
    text-align: left;
    position: relative;
    z-index: 2;
  }
  .a965_frame1_content_right_text {
    padding: 2rem;
    margin-left: -5rem;
    text-align: left;
    position: relative;
    z-index: 2;
  }
}

.a965_frame2 {
  background-color: #ECB572;
  display: flex;
  height: 56rem;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem;
  transition: background-color 0.4s ease;
}
.a965_frame2 a {
  font-size: 36px;
  font-weight: 400;
  line-height: 58px;
  color: #fff;
}
.a965_frame2_content {
  width: 100%;
  position: relative;
}
.a965_frame2_content_left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.a965_frame2_content_left img {
  width: 28rem;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left center;
  cursor: pointer;
}
.a965_frame2_content_left img:hover {
  transform: scale(1.1);
}
.a965_frame2_content_right {
  display: flex;
  justify-content: flex-end;
  margin-right: 8rem;
  margin-top: -14rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.a965_frame2_content_right img {
  width: 20rem;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left center;
  cursor: pointer;
}
.a965_frame2_content_right img:hover {
  transform: scale(1.1);
}
.a965_frame2_content_text {
  padding-bottom: 3rem;
}
.a965_frame2_content_left_text {
  padding: 2.5rem;
  margin-left: -7.5rem;
  position: relative;
  z-index: 3;
}
.a965_frame2_content_right_text {
  padding: 2.5rem;
  margin-left: -7.5rem;
  position: relative;
  z-index: 4;
}
.a965_frame2:has(.a965_frame2_content_left:hover) {
  background-color: #B73E31;
}
.a965_frame2:has(.a965_frame2_content_right:hover) {
  background-color: #151515;
}
.a965_frame2.hover {
  background-color: #B73E31;
  transition: background-color 0.3s ease;
}
.a965_frame2.hover2 {
  background-color: #151515;
  transition: background-color 0.3s ease;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_frame2 {
    padding: 2rem;
    height: auto;
  }
  .a965_frame2_content_left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    z-index: auto;
  }
  .a965_frame2_content_left img {
    width: 100%;
    max-width: 20rem;
  }
  .a965_frame2_content_right {
    margin-top: 2rem;
    margin-right: 0;
    z-index: auto;
  }
  .a965_frame2_content_right img {
    width: 100%;
    max-width: 18rem;
  }
  .a965_frame2_content_left_text {
    padding: 2rem;
    margin-left: -5rem;
    text-align: left;
    position: relative;
    z-index: 2;
  }
  .a965_frame2_content_right_text {
    padding: 2rem;
    margin-left: -5rem;
    text-align: left;
    position: relative;
    z-index: 2;
  }
}
@media (min-width: 41rem) and (max-width: 60rem) {
  .a965_frame2_content_left img {
    width: 22rem;
  }
  .a965_frame2_content_right img {
    width: 18rem;
  }
  .a965_frame2_content_left_text {
    padding: 2rem;
    margin-left: -5rem;
    text-align: left;
    position: relative;
    z-index: 3;
  }
  .a965_frame2_content_right_text {
    padding: 2rem;
    margin-left: -5rem;
    text-align: left;
    position: relative;
    z-index: 2;
  }
}

.a965_icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: auto;
  padding-top: 10rem;
  padding-bottom: 15rem;
}
.a965_icons img {
  width: 20rem;
  padding-top: 2rem;
}
@media (min-width: 20rem) and (max-width: 40rem) {
  .a965_icons {
    flex-direction: column;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .a965_icons img {
    width: 12rem;
    padding-top: 2rem;
  }
}
@media (min-width: 41rem) and (max-width: 60rem) {
  .a965_icons img {
    width: 18rem;
  }
}

/*# sourceMappingURL=style.css.map */
